@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: none;
}

/* cssリセットここまで*/




/* 
ここからwork2

.wrap li {
    list-style: none;
} */
/* 
色は#008080か#20B2AAが近そう */

body {
    background-color: #eeeeee;

    list-style: none;
}

.service {
    max-width: 960px;
    margin: 0 auto;
}


.wrap {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #008080;
}

h2 {
    color: #008080;
    margin: 10px;
    border-left: 8px solid #008080;
    padding-left: 5px;
}


.wrap li {
    background-color: #ffffff;
    width: 32%;
}

img {
    width: 100%;
    /* bodyの幅に対する割合 */
}

p {
    font-size: 15px;
    padding: 0 5px 5px 5px;
}


@media screen and (max-width: 400px) {

    body {
        width: 100%;
    }

    img {
        width: 100%;
        /* bodyの幅に対する割合
        justify-content: center; */
    }

    .wrap {
        /* max-width: 400px; */
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrap li {
        width: 100%;
        margin-bottom: 30px;
    }

}