/* ABOUT */
.about {
    max-width: 1000px;
    margin: 0 auto;
}

.about_top {
    position: relative;
    max-width: 975px;
    margin: 0 auto;
    padding: 0 34px;
    /* このpaddingは不要かもしれない 迷ったら消してもいいかもアーカイブ1:28  */
}

.about_top .heading {
    width: 148px;
}

@media screen and (max-width: 767px) {

    .about_top .heading {
        margin-top: 120px;
        width: 85px;
    }
}

.about_top p {
    position: absolute;
    /*絶対配置*/
    color: #000;
    font-size: 16px;
    font-family: "yu-gothic-pr6n", sans-serif;
    font-weight: normal;
    line-height: 1.75;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background-color: white;
    width: 73%;
    box-sizing: border-box;
    opacity: 0.8;
    padding: 8% 10%;
    text-align: center;
}

.about_all {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about_profile {
    max-width: 1000px;
    margin: 0 auto;
    /* position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 0; */
}

.about_img {
    text-align: center;
}

/* .about_text {
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
    下記に変更
} */

.about_text {
    padding-top: 30px;
    width: 500px;
    padding-right: 10px;
    padding-left: 30px;
}

.about_text p {
    text-align: start;
}


.about_all p {
    font-family: "yu-gothic-pr6n", sans-serif;
    font-weight: normal;
}

.about_title {
    font-size: 12px;
    line-height: 1.7;
}

.about_name {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 25px;
}

.about_information {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 57px;
}

.about_skill_all {
    display: flex;
    justify-content: space-between;
}

.about_skill {
    font-size: 16px;
    line-height: 1.75;
    /* padding: 20px; */
    /* 線の横の空白もう少し広げたい */
}

.skill_menu {
    border-left: 1px solid #afb6b3;
    padding: 25px;
    line-height: 1.75;
}

@media screen and (max-width: 767px) {
    .about {
        padding-left: 33px;
        padding-right: 33px;
    }

    .about_all {
        display: block;
        margin: 0 auto;
    }

    .about_img img {
        width: 61%;
        /* 230/375で61% */
        margin: 0 auto;
        /* これかけると767pxの時は左による、最終的には真ん中に来るけど */
        /* display: flex;
        text-align: center;
        margin-bottom: 10px; */
    }

    ;

    .about_img {
        width: 100%;
    }


    .about_text {
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 auto;
    }

    .about_text p {
        text-align: center;
    }

    .about_top {
        margin: 0 34px;
    }

    .about_top p {
        width: 89%;
        font-size: 10px;
        padding: 15px;
        line-height: 1.4;
    }


    .about_all p {
        font-family: "yu-gothic-pr6n", sans-serif;
        font-weight: normal;
    }

    .about_title {
        margin-top: 20px;
        font-size: 12px;
        line-height: 1.7;
    }

    .about_name {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 25px;
    }

    .about_information {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 57px;
    }

    .about_skill_all {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_skill {
        font-size: 16px;
        line-height: 1.75;
        padding-bottom: 10px;
    }

    .skill_menu {
        border-top: 1px solid #afb6b3;
        /* border: 230px; */
        border-left: none;
        padding: 10px;
        line-height: 1.75;
    }
}



/* ABOUT HISTORY */

ul {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    /* margin-bottom: 110px; */
}

li {
    display: flex;
}

li>div {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px;
}

li>div::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 99rem;
    background: #384842;
}

li>div {
    width: 12%;
    border-right: 1px solid #afb6b3;
    font-family: "yu-gothic-pr6n", sans-serif;
}

li>p {
    width: 88%;
    padding-left: 60px;
    font-size: 16px;
    font-family: "yu-gothic-pr6n", sans-serif;
    line-height: 1.75;
    padding: 25px;
    text-align: justify;
}



@media screen and (max-width: 767px) {

    /* ここは1000px以下？ヒストリーはPC版のが見やすそうなので一旦767pxで！ */


    ul {
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
    }

    li {
        display: flex;
        flex-direction: column;
    }

    li>div {
        position: relative;
        display: flex;
        padding-bottom: 0;
        padding-left: 0;
    }

    li>div::after {
        display: none;
        /*消す！position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        content: "";
        width: 22px;
        height: 22px;
        border-radius: 99rem;
        background: #384842; */
    }

    li>div {
        width: 12%;
        border-right: none;
        font-family: "yu-gothic-pr6n", sans-serif;
    }

    li>p {
        width: 88%;
        padding-left: 60px;
        font-size: 16px;
        font-family: "yu-gothic-pr6n", sans-serif;
        line-height: 1.75;
        padding: 15px 0;
    }
}



/* FAVORITE */

.favorite .heading {
    width: 220px;
}

.favorite h2 {
    padding: 0;
    text-align: center;
}

.favorite_block {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.favorite_menu {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.favorite_item {
    width: calc((100% - 60px) / 3);
}


/* .favorite .heading {
    width: 220px;
}

@media screen and (max-width: 767px) {

    .favorite .heading {
        width: 85px;
    }
} */

@media screen and (max-width: 767px) {
    .favorite {
        width: 100%;
        padding-left: 33px;
        padding-right: 33px;
        margin-top: 100px;
        box-sizing: border-box;
    }

    .favorite_menu {
        flex-direction: column;
    }

    .favorite_item {
        width: 100%;
        margin-top: 25px;
    }
}


/* 0129作成中 */
/* hover */
.favorite_hover1 .favorite_hover2 .favorite_hover3 {
    position: relative;
}


.favorite_hover1 .favorite_hover2 .favorite_hover3::before {
    opacity: 0;
    transition: 0.3s;
}


.favorite_hover1:hover::before {
    content: "Coffee";
    position: absolute;
    font-size: 18px;
    font-family: "yu-gothic", sans-serif;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.favorite_hover2:hover::before {
    content: "Family";
    position: absolute;
    font-size: 18px;
    font-family: "yu-gothic", sans-serif;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.favorite_honer3:hover::before {
    content: "Tableware";
    position: absolute;
    font-size: 18px;
    font-family: "yu-gothic", sans-serif;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}



/* 
* {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir', 'Helvetica, Neue', 'Helvetica', 'Arial';
} */


/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 1;
    /*サイトによってここの数値は調整,一旦10を1にしている */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    padding: 20px 100px;
    background-color: #fff;
}

.closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modalContents {
    text-align: center;
}

.modalContents h1 {
    padding: 30px 0 20px 0;
    color: #333e33;
    font-size: 20px;
    font-weight: bold;
    font-family: "yu-gothic-pr6n", sans-serif;
}

.modalContents p {
    padding: 20px 0;
    color: #333e33;
    font-size: 16px;
    font-family: "yu-gothic-pr6n", sans-serif;
    line-height: 1.75;
}



/* 以下ボタンスタイル */
button {
    padding: 5px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#openModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}